  .login-box{
    box-shadow: 0 5px 20px rgba(0,0,0,.6);

    

    text-align :center;
    margin-top : 15vh;
    margin-left : 35vw;
    /* background-color: mediumaquamarine; */
    width:30vw;
    padding : 10px;
    height:auto;
    font-family: "Jost", sans-serif;
    font-size: large;
  }


  .login-box .user-box{
    padding: 0.2em 0.5em;
    border-bottom : 1px solid black;
    width:25vw;
  }


  .login-box label{
    text-align: left;
    float:left;
    margin-left: 30px;
  }


  .login-box .file{
    float:left;
    margin-left: 30px;
  }


  .login-box #btn{
    width: 25vw;
    background-color: lightgray;
  }


  /* .login-box {
    padding: 10px 0px;
  } */


  .login-box #new{
    width:25vw;
    height:35px;
    font-family: "Jost", sans-serif;
    font-size: large; 
    font-weight: 500;
    margin-bottom: 10px;
  }

  .login-box #new1{
    width:25vw;
    height:35px;
    font-family: "Jost", sans-serif;
    font-size: large; 
    font-weight: 500;
    margin-top: 10px;
  }

 